# CM3 Pandas Opdrachten

In dit notebook vind je de volgende opdrachten
- [Opdracht 1 - Series](#Opdracht-1-Series)
- [Opdracht 2 - Dataframe](#Opdracht-2-Dataframe)
- [Opdracht 3 - Cijfers](#Opdracht-3-Cijfers)
- [Opdracht 4 - datetime](#Opdracht-4-datetime)

## Opdracht 1 Series

In [145]:
import pandas as pd
import numpy as np

In [146]:
#values = [7.0, 6.5, 9.0, 8.0]
#index = [ 'DS', 'IAC', 'NET', 'IAC']
values = [7.0, 6.5, 9.0]
index = [ 'DS', 'IAC', 'NET']
cijfers = pd.Series(values, index=index)
cijfers

DS     7.0
IAC    6.5
NET    9.0
dtype: float64

- Haal het cijfer 6.5 op uit de Series door middel van:
  1. de expliciete key methode
  2. de impliciete key methode
  3. rechtstreeks met de expliciete key
  4. rechtstreeks met de impliciete key

In [147]:
# Explieciete key methode
print(cijfers.loc['IAC'])

# Impliciete key methode
print(cijfers.iloc[1])

# Rechtsreeks met de expliciete key
print(cijfers['IAC'])

# Rechtsreeks met impliciete key
# Geeft een waarschuwing. Beter om .iloc[1] te bebruiken.
print(cijfers[1])

6.5
6.5
6.5
6.5

C:\Users\Anwender\AppData\Local\Temp\ipykernel_3164\2833982534.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(cijfers[1])

- Retourneer de cijfers van de laatste twee vakken uit de Series.

In [148]:
print(cijfers[-2:])

IAC    6.5
NET    9.0
dtype: float64

- Bepaal gemiddelde, mediaan, minimum en maximum van de cijfers.

In [149]:
# Gemiddelde
print(np.average(cijfers))

# Mediaan
print(np.median(cijfers))

# Maximum
print(np.max(cijfers))

# Of via describe method
print()
print(cijfers.describe())

7.5
7.0
9.0

count    3.000000
mean     7.500000
std      1.322876
min      6.500000
25%      6.750000
50%      7.000000
75%      8.000000
max      9.000000
dtype: float64

## Opdracht 2 Dataframe

In [150]:
student1 = pd.Series({'Nummer':'s1', 'Naam':'Joop', 'Tentamen':99.9, 'Opdracht': 7.5})
student2 = pd.Series({'Nummer':'s2', 'Naam':'Piet', 'Tentamen':8.0, 'Opdracht': 7.0})
student3 = pd.Series({'Nummer': None, 'Naam':'Fout', 'Tentamen':99.9, 'Opdracht': 99.9})
student4 = pd.Series({'Nummer':'s3', 'Naam':'Kees', 'Tentamen':4.0, 'Opdracht': 6.0})
studenten = pd.DataFrame([student1, student2,student3, student4])
studenten

  Nummer  Naam  Tentamen  Opdracht
0     s1  Joop      99.9       7.5
1     s2  Piet       8.0       7.0
2   None  Fout      99.9      99.9
3     s3  Kees       4.0       6.0

- Bepaal het totaal aantal niet-bestaande waarden.

In [151]:
# Om het totaal aantal niet bestaande waardes te bepalen gaan we gebruik maken van .isna().sum()
print(studenten.isna().sum())

Nummer      1
Naam        0
Tentamen    0
Opdracht    0
dtype: int64

- Zet de opdracht- en tentamencijfers met waarde 99.9 om naar NaN waarde

In [152]:
# Vraag: Wat is dan de nieuwe manier om dit te doen?

# studenten['Tentamen'][studenten['Tentamen'] == 99.9] = np.nan
# studenten['Opdracht'][studenten['Opdracht'] == 99.9] = np.nan

studenten.loc[studenten['Tentamen'] == 99.9, 'Tentamen'] = np.nan
studenten.loc[studenten['Opdracht'] == 99.9, 'Opdracht'] = np.nan

# Zou ook met replace kunnen.

print(studenten)

  Nummer  Naam  Tentamen  Opdracht
0     s1  Joop       NaN       7.5
1     s2  Piet       8.0       7.0
2   None  Fout       NaN       NaN
3     s3  Kees       4.0       6.0

- Haal de missing values uit het DataFrame

In [153]:
studenten = studenten.dropna(how='any')

print(studenten)

  Nummer  Naam  Tentamen  Opdracht
1     s2  Piet       8.0       7.0
3     s3  Kees       4.0       6.0

- Zet `Nummer` als index.

In [154]:
studenten = studenten.set_index('Nummer')

- Het eindcijfer van het vak is 70% tentamen en 30% opdracht; voeg dit als kolom `Eindcijfer` toe

In [155]:
# Pandas wil graag dat er voor alles .loc wordt gebruikt. Misschien beter om er maar aan te wennen.
# studenten.loc[:,'Eindcijfer'] = studenten.loc[:,'Tentamen'] * 0.7 + studenten.loc[:,'Opdracht'] * 0.3
studenten['Eindcijfer'] = studenten['Tentamen'] * 0.7 + studenten['Opdracht'] * 0.3

print(studenten)

        Naam  Tentamen  Opdracht  Eindcijfer
Nummer
s2      Piet       8.0       7.0         7.7
s3      Kees       4.0       6.0         4.6

- Bepaal het gemiddelde eindcijfer

In [156]:
print(np.average(studenten['Eindcijfer']))

6.1499999999999995

- Wat geeft `studenten.describe()` weer?

In [157]:
# studenten.descire() geeft centrum en spreidingsmaten weer
print(studenten.describe())

       Tentamen  Opdracht  Eindcijfer
count  2.000000  2.000000    2.000000
mean   6.000000  6.500000    6.150000
std    2.828427  0.707107    2.192031
min    4.000000  6.000000    4.600000
25%    5.000000  6.250000    5.375000
50%    6.000000  6.500000    6.150000
75%    7.000000  6.750000    6.925000
max    8.000000  7.000000    7.700000

- Selecteer alle namen en cijfers van de studenten met een voldoende als eindcijfer.

In [158]:
print(studenten.loc[studenten['Eindcijfer'] > 5.5])

        Naam  Tentamen  Opdracht  Eindcijfer
Nummer
s2      Piet       8.0       7.0         7.7

## Opdracht 3 Cijfers

Numpy arrays kunnen alleen uniforme waarden bevatten. Pandas arrays kunnen juist meer bevatten. We doen de opdracht in numpy nu in pandas. Tip: maak gebruik van de cheat sheets!

Aanvullende bron:
-	http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb

De blokcoördinator D.O. Cent van blok A, SIE-V2  wil graag de cijfers analyseren en verwerken. het blok bestaat uit 3 vakken, die door 10 studenten gevolgd zijn. Analyse omvat o.a. het bepalen van gemiddelde cijfer, het aantal voldoendes en cursusrendement. De verwerking bestaat uit het corrigeren van de cijfers. 


In `blokAcijfers.txt` staan de cijfers per vak (naast elkaar staan de vakken, onder elkaar de studenten):

vak1 | vak2 | vak3
----|-------|------
6.5 | 7.3   | 6.4
8.0 | 8.0	| 8.5
3.2	| 4.0	| 5.0
7.9	| 7.1	| 3.5
7.3	| 7.8	| 8.0
8.6	| 8.0	| 9.0
4.0	| 6.0	| 5.5
7.3	| 7.8	| 7.8
4.5	| 5.6	| 7.7
5.0	| 7.0	| 7.2

In `blokAStudenten.csv` staan de studentgegevens:

"Studentnr"|"Naam"|"Vooropleiding"
--|--|--
1502000|"Jan Jansen"|"HAVO"
1501677|"Ali ElMoune"|"MBO"
1503190|"Bert de Graaf"|"HAVO"
1506700|"Koos Alberts"|"MBO"
1504503|"Willie Napoli"|"MBO"
1507878|"Jorrit Beeks"|"VWO"
1502507|"Frits Wielenga"|"HAVO"
1503684|"Cornee Nijsten"|"VWO"
1503831|"Sabine Honing"|"HAVO"
1506001|"George Belfore"|"HAVO"

In [159]:
# Deze imports zijn nodig voor de opdracht.
import pandas as pd
import numpy as np

De docent wil de gegevens in een Jupyter Notebook verwerken.
-	Lees tekstbestand: blokAcijfers.txt in, in een dataframe `cijfers`.
-	Laat zien dat de gegevens goed ingelezen zijn.
-	Wijzig de kolomnrs in de vaknamen: vakken = ['RAD','ANA', CBA'].
-	Toon de dataframe attributen.
-	Toon de index gegevens.

In [160]:
cijfers = pd.read_csv("blokAcijfers.txt", sep="\t", header=None, names=['RAD', 'ANA', 'CBA'])
# OR
# cijfers = pd.read_fwf("blokAcijfers.txt", header=None, names=['RAD', 'ANA', 'CBA'])
print(cijfers)
print()
print(cijfers.shape)
print(cijfers.size)
print()
print(cijfers.describe())
print()
print(cijfers.info())

   RAD  ANA  CBA
0  6.5  7.3  6.4
1  8.0  8.0  8.5
2  3.2  4.0  5.0
3  7.9  7.1  3.5
4  7.3  7.8  8.0
5  8.6  8.0  9.0
6  4.0  6.0  5.5
7  7.3  7.8  7.8
8  4.5  5.6  7.7
9  5.0  7.0  7.2

(10, 3)
30

             RAD        ANA        CBA
count  10.000000  10.000000  10.000000
mean    6.230000   6.860000   6.860000
std     1.902075   1.297176   1.734743
min     3.200000   4.000000   3.500000
25%     4.625000   6.250000   5.725000
50%     6.900000   7.200000   7.450000
75%     7.750000   7.800000   7.950000
max     8.600000   8.000000   9.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RAD     10 non-null     float64
 1   ANA     10 non-null     float64
 2   CBA     10 non-null     float64
dtypes: float64(3)
memory usage: 372.0 bytes
None

De docent ziet dat er 2 cijfers fout zijn en wil deze corrigeren (NB. Elke regel heeft een numeriek index gelijk aan het regelnummer.)
-	 Wijzig de volgende cijfers							
    *	vak-2, student-3  cijfer 4.0 moet 4.3 worden.
    *	vak-1, student-10, cijfer 5.0 moet 4.8 worden.

In [161]:
cijfers.iloc[2, 1] = 4.3
cijfers.iloc[9, 0] = 4.8
print(cijfers)

   RAD  ANA  CBA
0  6.5  7.3  6.4
1  8.0  8.0  8.5
2  3.2  4.3  5.0
3  7.9  7.1  3.5
4  7.3  7.8  8.0
5  8.6  8.0  9.0
6  4.0  6.0  5.5
7  7.3  7.8  7.8
8  4.5  5.6  7.7
9  4.8  7.0  7.2

De docent wil de studentgegevens ook aan het dataframe toevoegen.
-	Lees tekstbestand: `blokAStudenten.csv` in, in een dataframe `studenten`. Let op dat je de juiste instellingen voor sep en header meegeeft.
-	Laat zien dat de gegevens correct zijn ingelezen.

In [162]:
studenten = pd.read_csv("blokAStudenten.csv", sep=";")
print(studenten.head())

   Studentnr           Naam Vooropleiding
0    1502000     Jan Jansen          HAVO
1    1501677    Ali ElMoune           MBO
2    1503190  Bert de Graaf          HAVO
3    1506700   Koos Alberts           MBO
4    1504503  Willie Napoli           MBO

Nu gaan we ``studenten`` en ``cijfers`` samenvoegen tot een cijferslijst. We mogen er vanuitgaan dat de volgorde van beiden dezelfde index hebben (hier de rijwaarde 0 t/m 9).
-	Combineer de beide dataframes met behulp van `p.merge()`:
    *	Je kunt hier een inner join gebruiken.
    *	Je kunt van beide zijden de index gebruiken .
-	Laat zien dat de gegevens correct zijn samengevoegd tot één dataframe cijferlijst met de kolommen: `Studentnr`; `Naam`; `Vooropleiding`; `RAD`; `ANA`; en `CBA`.

In [163]:
cijferlijst = studenten.merge(cijfers, how="inner", left_index=True, right_index=True)
print(cijferlijst.head())

   Studentnr           Naam Vooropleiding  RAD  ANA  CBA
0    1502000     Jan Jansen          HAVO  6.5  7.3  6.4
1    1501677    Ali ElMoune           MBO  8.0  8.0  8.5
2    1503190  Bert de Graaf          HAVO  3.2  4.3  5.0
3    1506700   Koos Alberts           MBO  7.9  7.1  3.5
4    1504503  Willie Napoli           MBO  7.3  7.8  8.0

Het is handig om een dataframe een sprekende index te geven:
-	Maak `Studentnr` de rij-index. NB. Gebruik indien nodig de optie `inplace=True`.

In [164]:
cijferlijst = cijferlijst.set_index("Studentnr")
print(cijferlijst.head())

                    Naam Vooropleiding  RAD  ANA  CBA
Studentnr
1502000       Jan Jansen          HAVO  6.5  7.3  6.4
1501677      Ali ElMoune           MBO  8.0  8.0  8.5
1503190    Bert de Graaf          HAVO  3.2  4.3  5.0
1506700     Koos Alberts           MBO  7.9  7.1  3.5
1504503    Willie Napoli           MBO  7.3  7.8  8.0

De docent wil wat basisgegevens: minimum, maximum, gemiddelde van de cijfers weten. Het grote voordeel is dat numpy heel goed kan omgaan met de numerieke kolommen van een dataframe. Voorbeeld: het berekenen van het gemiddelde cijfer voor het vak ‘RAD’ kan met de opdracht: `np.mean(cijferlijst['RAD']`.
-	Bepaal minimum, maximum en gemiddelde van alle cijfers.
-	Bepaal minimum, maximum en gemiddelde van elk vak (3 getallen).
-	Bepaal minimum, maximum en gemiddelde van elke student (10 getallen).

In [165]:
# For everything
grades_headers_columns = ["Grades"]
grades_headers_rows = ["minimum", "maximum", "average"]
grades_data = [[np.min(cijferlijst[["RAD", "ANA", "CBA"]])], [np.max(cijferlijst[["RAD", "ANA", "CBA"]])], [np.average(cijferlijst[["RAD", "ANA", "CBA"]])]]
print(pd.DataFrame(grades_data, grades_headers_rows, grades_headers_columns))
print()

# Per subject
subject_headers_columns = ["RAD", "ANA", "CBA"]
subject_headers_rows = ["minimum", "maximum", "average"]

subject_data = [[np.min(cijferlijst[i]) for i in ["RAD", "ANA", "CBA"]], 
                [np.max(cijferlijst[i]) for i in ["RAD", "ANA", "CBA"]],
                [np.average(cijferlijst[i]) for i in ["RAD", "ANA", "CBA"]]]

print(pd.DataFrame(subject_data, subject_headers_rows, subject_headers_columns))
print()

# Per student
student_headers_columns = cijferlijst["Naam"]
student_headers_rows = ["minimum", "maximum", "average"]
# Clean af :)
student_data = [[np.round(np.min(cijferlijst.iloc[i][["RAD", "ANA", "CBA"]]), 1) for i in range(10)], 
                [np.round(np.max(cijferlijst.iloc[i][["RAD", "ANA", "CBA"]]), 1) for i in range(10)], 
                [np.round(np.average(cijferlijst.iloc[i][["RAD", "ANA", "CBA"]]), 1) for i in range(10)]]

print(pd.DataFrame(student_data, student_headers_rows, student_headers_columns))

np.mean(cijferlijst[["RAD", "ANA", "CBA"]], axis=1)

           Grades
minimum  3.200000
maximum  9.000000
average  6.653333

          RAD   ANA   CBA
minimum  3.20  4.30  3.50
maximum  8.60  8.00  9.00
average  6.21  6.89  6.86

Naam     Jan Jansen  Ali ElMoune  Bert de Graaf  Koos Alberts  Willie Napoli  \
minimum         6.4          8.0            3.2           3.5            7.3
maximum         7.3          8.5            5.0           7.9            8.0
average         6.7          8.2            4.2           6.2            7.7

Naam     Jorrit Beeks  Frits Wielenga  Cornee Nijsten  Sabine Honing  \
minimum           8.0             4.0             7.3            4.5
maximum           9.0             6.0             7.8            7.7
average           8.5             5.2             7.6            5.9

Naam     George Belfore
minimum             4.8
maximum             7.2
average             6.3

Studentnr
1502000    6.733333
1501677    8.166667
1503190    4.166667
1506700    6.166667
1504503    7.700000
1507878    8.533333
1502507    5.166667
1503684    7.633333
1503831    5.933333
1506001    6.333333
dtype: float64

Er is een fout gemaakt bij de cijfers van het 1e vak (RAD). Iedere student krijgt 0.5 punt extra erbij.
-	Doe dit met één opdrachtregel.

In [166]:
cijferlijst["RAD"] += 0.5
print(cijferlijst)

                     Naam Vooropleiding  RAD  ANA  CBA
Studentnr
1502000        Jan Jansen          HAVO  7.0  7.3  6.4
1501677       Ali ElMoune           MBO  8.5  8.0  8.5
1503190     Bert de Graaf          HAVO  3.7  4.3  5.0
1506700      Koos Alberts           MBO  8.4  7.1  3.5
1504503     Willie Napoli           MBO  7.8  7.8  8.0
1507878      Jorrit Beeks           VWO  9.1  8.0  9.0
1502507    Frits Wielenga          HAVO  4.5  6.0  5.5
1503684    Cornee Nijsten           VWO  7.8  7.8  7.8
1503831     Sabine Honing          HAVO  5.0  5.6  7.7
1506001    George Belfore          HAVO  5.3  7.0  7.2

De docent wil graag weten of er verschil in studentprestaties is afhankelijk van de vooropleiding. 
-	Toon voor elk vak het vooropleiding groepsgemiddelde.
-	Wat is je conclusie ?

In [167]:
groep_average = cijferlijst.groupby("Vooropleiding")[["RAD", "ANA", "CBA"]].agg([np.average])
print(np.round(groep_average, 2))

                  RAD     ANA     CBA
              average average average
Vooropleiding
HAVO             5.10    6.04    6.36
MBO              8.23    7.63    6.67
VWO              8.45    7.90    8.40

Conclusie:

## Opdracht 4 datetime

Maak een Jupyter notebook waarin je met Pandas de volgende casus realiseert: een storingsmedewerker wil graag onderzoeken hoe het weer geweest is op 1 Januari 2017. Hiervoor vraagt hij bij het KNMI de weergegevens op van drie meetstations.

Aanvullende bronnen:
- http://chrisalbon.com/python/pandas_time_series_basics.html
- http://chrisalbon.com/python/date_and_time_basics.html
- http://chrisalbon.com/python/pandas_group_by_time.html

In [168]:
# Aanvullende imports
import datetime as dt
import matplotlib.pyplot as pyplot

# De data die we gaan gebruiken.
data = {'meetpunt': ['De Bilt','Maastricht', 'Leeuwarden',
                     'De Bilt','Maastricht', 'Leeuwarden',
                     'De Bilt','Maastricht', 'Leeuwarden',
                     'De Bilt','Maastricht', 'Leeuwarden'],
        'datum': ['2017-01-01 13:00:05.069722', '2017-01-01 13:00:01.119994', '2017-01-01 13:00:07.178768',
                  '2017-01-02 13:00:01.043200', '2017-01-02 13:00:03.119401', '2017-01-02 13:00:03.876898',
                  '2017-01-03 13:00:03.043450', '2017-01-03 13:00:02.669401', '2017-01-03 13:00:01.321898',
                  '2017-01-04 13:00:04.042015', '2017-01-04 13:00:04.321564', '2017-01-04 13:00:04.394866'],
        'temperatuur': [-0.3, 1.9, 0.8,
                        1.8, 7.1, 5.7,
                        2.9, 7.3, 5.1,
                        0.1, 6.8, 2.1,]}

Bewerk de data zodat deze netjes in een dataframe komt.
-	Maak een dataframe met kolommen: ‘datum’, ‘temperatuur, ‘meetpunt’.
-	Maak van de datum kolom een kolom met datatype datetime.

In [169]:
# Creates the data frame
dataframe = pd.DataFrame(data)
# Rearranges the columns
dataframe = dataframe.loc[:, ["datum", "temperatuur", "meetpunt"]]
# Converts object type to datetime type
dataframe["datum"] = pd.to_datetime(dataframe["datum"])

print(dataframe.info())
print(dataframe)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   datum        12 non-null     datetime64[ns]
 1   temperatuur  12 non-null     float64
 2   meetpunt     12 non-null     object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 420.0+ bytes
None
                        datum  temperatuur    meetpunt
0  2017-01-01 13:00:05.069722         -0.3     De Bilt
1  2017-01-01 13:00:01.119994          1.9  Maastricht
2  2017-01-01 13:00:07.178768          0.8  Leeuwarden
3  2017-01-02 13:00:01.043200          1.8     De Bilt
4  2017-01-02 13:00:03.119401          7.1  Maastricht
5  2017-01-02 13:00:03.876898          5.7  Leeuwarden
6  2017-01-03 13:00:03.043450          2.9     De Bilt
7  2017-01-03 13:00:02.669401          7.3  Maastricht
8  2017-01-03 13:00:01.321898          5.1  Leeuwarden
9  2017-01-04 13:00:04.042015          0.1     De Bilt
10 2017-01-04 13:00:04.321564          6.8  Maastricht
11 2017-01-04 13:00:04.394866          2.1  Leeuwarden

Doe de volgende analyse op de datum gegevens.
-	Haal de eerste datumwaarde uit de tabel.
-	Bepaal van de eerste datumwaarden: jaar, maand, dag, uur, minuut en seconde.
-	Bepaal het tijdsverschil tussen de 1e en laatste waarde.
-	Bepaal van het tijdsverschil het aantal dagen.
-	Bepaal van het tijdsverschil het aantal uren.

In [170]:
# CODE THAT DOES STUFF ----------------------------------------------------------------------------------------------------
# Gets the first date from the table
first_date = dataframe.iloc[0]["datum"]

# Gets the year, month, day, hour, minute and seconds
year = first_date.year
month = first_date.month
day = first_date.day
hour = first_date.hour
minute = first_date.minute
second = first_date.second

# Calculates time difference (delta) betwee first and last date
last_date = dataframe.iloc[-1]["datum"]
time_difference = last_date - first_date

# Gets the days of the time difference
td_days = time_difference.days

# Gets the hours of the time difference
td_hours = time_difference.seconds / 3600


# PRINTING ----------------------------------------------------------------------------------------------------------------
# Prints the first date
print(first_date)

# Prints year, month, day, hour, minute, second
print(year, month, day, hour, minute, second)

# Prints the difference between first and last date
print(time_difference)

# Prints time difference days
print(td_days)

# Prints time difference hours
print(td_hours)

2017-01-01 13:00:05.069722
2017 1 1 13 0 5
2 days 23:59:59.325144
2
23.99972222222222

De storingsmedewerker wil graag de volgende gegevens van dagen. Daarom is het handig om de dataframe te voorzien van een index. Voer dan de volgende opdrachten uit en verklaar deze.
-	Maak van de datum kolom een index.
-	De temperaturen op 1 januari.
-	De temperaturen na 3 januari.
-	De temperatuur gemiddeld per dag .
-	Leg nu zelf uit wat de functie shift() doet.
-	Haal de datum kolom index weer weg.

In [171]:
# Sets datum as row index
dataframe = dataframe.set_index("datum")
print(dataframe)

                            temperatuur    meetpunt
datum
2017-01-01 13:00:05.069722         -0.3     De Bilt
2017-01-01 13:00:01.119994          1.9  Maastricht
2017-01-01 13:00:07.178768          0.8  Leeuwarden
2017-01-02 13:00:01.043200          1.8     De Bilt
2017-01-02 13:00:03.119401          7.1  Maastricht
2017-01-02 13:00:03.876898          5.7  Leeuwarden
2017-01-03 13:00:03.043450          2.9     De Bilt
2017-01-03 13:00:02.669401          7.3  Maastricht
2017-01-03 13:00:01.321898          5.1  Leeuwarden
2017-01-04 13:00:04.042015          0.1     De Bilt
2017-01-04 13:00:04.321564          6.8  Maastricht
2017-01-04 13:00:04.394866          2.1  Leeuwarden

In [172]:
# Temperature on 1 januari
# temp1 = dataframe["2017-01-01":]
# temp1 = dataframe.loc[dataframe["datum"] < "2017-01-02", ["datum", "temperatuur"]]
# print(temp1)

# Temperature after 3 januari
# temp2 = dataframe.loc[dataframe["datum"] > "2017-01-04"]
# print(temp2)

# Average temperature per day
# temp3 = dataframe.groupby(dataframe["datum"].dt.date)["temperatuur"].agg([np.average])
# print(np.round(temp3, 2))

# Removes the datum as index. Reverts back to original index.
# dataframe = dataframe.reset_index()
# print()
# print(dataframe)

# Er is ook een resample() method.

NameError: name 'NaN' is not defined